.settings-bar {

}

.settings-icon {
    height: 1.4em !important;
}

.settings-icon:hover {
    cursor: pointer;
    color: var(--text-color-clicked);
}

.settings-drop-down {
    /*transition: transform 2s ease;*/
    width: 220px;
    transform: translateX(-220px);
    transition: transform 400ms ease-in;
}

.slideOut {
    /*transform: translateY(100%);*/
    transform: translateY(0);
}

.box {
    visibility: hidden;
    transition: visibility .5s, max-height .5s;
    max-height: 0;
    overflow: hidden;
    /* additional style */
    padding: 0px 12px;
    margin-bottom: 8px;
}

.box.open {
    visibility: visible;
    /* Set max-height to something bigger than the box could ever be */
    max-height: 100px;
}

/*.box {*/
/*    opacity: .5;*/
/*    box-sizing: border-box;*/
/*    transition: height 200ms 0ms, opacity 200ms 200ms;*/
/*}*/

/*.box.hide {*/
/*    transition: height 200ms 200ms, opacity 200ms 0ms;*/
/*    opacity: 0.0;*/
/*    height: 0px;*/
/*}*/